# SPDX-FileCopyrightText: Copyright (c) 2025-2026 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

.vscode/
__pycache__/
.DS_Store
dev/
results/
archived/
*.egg-info/
.VSCodeCounter/
build/
dist/
*/automation/dynamo/
aiconf_save/
.collector_checkpoint/
venv/
env/
.venv/

*.pyc
*.pyo
*.pyd

.qoder/
refactor_test_aic/profile_result/
batch_info/*
batch_info_*/*
power_law_understand/
collector/*.txt
collector/all_*

e2e_dataset/insight_benchmark_test/hisim/output/*
e2e_dataset/tmp/*